
<div class="h-100 w-100 d-flex flex-column p-5   align-items-center justify-content-center">
    <div class="shadow  ">
        <div class="p-4 text-center w-100">
            <h1>Login to Your Account</h1>
        </div>

        <div class="h-100  ">
            <form class="  g-3  form-size p-3">
                <div class="mb-3">
                    <label for="validationServer01" class="form-label">Email Address</label>
                    <input type="text" placeholder="Enter email" id="validationServer01" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="validationServer01" class="form-label">Password</label>
                    <input type="password" placeholder="Enter password" id="validationServer01" class="form-control">
                </div>
                <div class="  w-100 mt-2">
                    <input class="form-check-input me-2" type="checkbox" value="" id="defaultCheck1">
                    <label class="form-check-label" for="defaultCheck1">
                        Remember me </label>
                </div>
                <div class="w-100 text-center mt-3">
                    <button class="btn btn-primary">Submit</button>
                </div>

                <div class="text-center mt-2">New here <a [routerLink]="['../register-form']">Click to register</a>
                </div>



            </form>
        </div>
    </div>
</div>