<table class="table table-striped">
    <thead>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Salary</th>
        <th>Actions</th>
    </thead>
    <tbody>
        <tr *ngFor = "let user of userList">
            <td>{{user.name}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.dob}}</td>
            <td>{{user.salary}}</td>
            <td>
                <button (click)="onEdit(user)">Edit</button> 
              <button (click)="onDelete(user.id)">Delete</button> 
            </td>
        </tr>
    </tbody>
</table>

