* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: relative;
}

h1 {
    text-align: center;
}

.search-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    height: 30px;
}

.search-wrapper>input {
    border: none;
    padding: 10px;
    border: 1px solid grey;
}

#searchbtn {
    margin-left: 20px;
    background-color: palevioletred;
    border: none;
    padding: 10px;
    display: flex;
    color: white;
    align-items: center;
    cursor: pointer;
}

.table-format {
    border-collapse: collapse;
    margin-top: 30px;
    width: 70%;
    margin: 20px auto auto auto;
}

td {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
}

th {
    background-color: pink;
    border: 1px solid black;
    padding: 10px;
}

.d-none {
    display: none;
}

#btn {
    background-color: palevioletred;
    color: white;
    height: 50px;
    width: 100px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
}

.pop-up-wrapper{
    position: fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    height: 100px;
    margin: auto;
    width: 100px;
    transform: translate(-200px,0px);
}

.popup {
    margin-top: 20px;
    background-color: pink;
    border: 1px solid black;
    height: 70px;
    width: 500px;
    position: relative;
}

.popup>a {
    position: absolute;
    right: 10px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.popup>p {
    text-align: center;
}

.blur {
    filter: blur(5px);
}