<h2>Rective Form</h2>
<br>
<h4>User From</h4>
<form [formGroup]="userform">
    <input type="text" class="form-control" placeholder="Enter the FirstName" formControlName="firstname"
    [ngClass]="{'is-invalid' : userform.controls['firstname'].invalid && (isSubmitted || userform.controls['firstname'].touched || userform.controls['firstname'].dirty),
    'is-valid' : userform.controls['firstname'].valid && (isSubmitted || userform.controls['firstname'].touched || userform.controls['firstname'].dirty)}"
    >
    <div *ngIf="userform.controls['firstname'].invalid && (isSubmitted || userform.controls['firstname'].touched || userform.controls['firstname'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['firstname'].errors?.['required']">First Name is required.</p>
        <p class="text-danger" *ngIf="userform.controls['firstname'].errors?.['minlength']">First Name have minimum length of 5 charecter.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the LastName" formControlName="lastname"
    [ngClass]="{'is-invalid' : userform.controls['lastname'].invalid && (isSubmitted || userform.controls['lastname'].touched || userform.controls['lastname'].dirty),
    'is-valid' : userform.controls['lastname'].valid && (isSubmitted || userform.controls['lastname'].touched || userform.controls['lastname'].dirty)}">
    <div *ngIf="userform.controls['lastname'].invalid && (isSubmitted || userform.controls['lastname'].touched || userform.controls['lastname'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['lastname'].errors?.['required']">Last Name is required.</p>
        <p class="text-danger" *ngIf="userform.controls['lastname'].errors?.['minlength']">Last Name have maximum length of 10 charecter.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the User Name" formControlName="username"
    [ngClass]="{'is-invalid' : userform.controls['username'].invalid && (isSubmitted || userform.controls['username'].touched || userform.controls['username'].dirty),
    'is-valid' : userform.controls['username'].valid && (isSubmitted || userform.controls['username'].touched || userform.controls['username'].dirty)}">
    <div *ngIf="userform.controls['username'].invalid && (isSubmitted || userform.controls['username'].touched || userform.controls['username'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['username'].errors?.['required']">User Name is required.</p>
        <p class="text-danger" *ngIf="userform.controls['username'].errors?.['pattern']">Enter valid username</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the Email ID" formControlName="email"
    [ngClass]="{'is-invalid' : userform.controls['email'].invalid && (isSubmitted || userform.controls['email'].touched || userform.controls['email'].dirty),
    'is-valid' : userform.controls['email'].valid && (isSubmitted || userform.controls['email'].touched || userform.controls['email'].dirty)}">
    <div *ngIf="userform.controls['email'].invalid && (isSubmitted || userform.controls['email'].touched || userform.controls['email'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['email'].errors?.['required']">Email Id is required.</p>
        <p class="text-danger" *ngIf="userform.controls['email'].errors?.['pattern']">Enter valid Email Id.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the Mobile Number" formControlName="mobilenumber"
    [ngClass]="{'is-invalid' : userform.controls['mobilenumber'].invalid && (isSubmitted || userform.controls['mobilenumber'].touched || userform.controls['mobilenumber'].dirty),
    'is-valid' : userform.controls['mobilenumber'].valid && (isSubmitted || userform.controls['mobilenumber'].touched || userform.controls['mobilenumber'].dirty)}">
    <div *ngIf="userform.controls['mobilenumber'].invalid && (isSubmitted || userform.controls['mobilenumber'].touched || userform.controls['mobilenumber'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['mobilenumber'].errors?.['required']">Mobilenumber is required.</p>
        <p class="text-danger" *ngIf="userform.controls['mobilenumber'].errors?.['pattern']">Enter valid Mobilenumber.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the age" formControlName="age"
    [ngClass]="{'is-invalid' : userform.controls['age'].invalid && (isSubmitted || userform.controls['age'].touched || userform.controls['age'].dirty),
    'is-valid' : userform.controls['age'].valid && (isSubmitted || userform.controls['age'].touched || userform.controls['age'].dirty)}">
    <div *ngIf="userform.controls['age'].invalid && (isSubmitted || userform.controls['age'].touched || userform.controls['age'].dirty)">
        <p class="text-danger" *ngIf="userform.controls['age'].errors?.['required']">Age is required.</p>
        <p class="text-danger" *ngIf="userform.controls['age'].errors?.['min']">Minimum length is 18.</p>
        <p class="text-danger" *ngIf="userform.controls['age'].errors?.['max']">Minimum length is 60.</p>
    </div>

    <div formGroupName="address">
    <input type="text" class="form-control" placeholder="Enter the city" formControlName="city"
    [ngClass]="{'is-invalid' : userform.controls['address'].get('city')?.invalid && (isSubmitted || userform.controls['address'].get('city')?.touched || userform.controls['address'].get('city')?.dirty),
    'is-valid' : userform.controls['address'].get('city')?.valid && (isSubmitted || userform.controls['address'].get('city')?.touched || userform.controls['address'].get('city')?.dirty)}">
    <div *ngIf="userform.controls['address'].get('city')?.invalid && (isSubmitted || userform.controls['address'].get('city')?.touched || userform.controls['address'].get('city')?.dirty)">
        <p class="text-danger" *ngIf="userform.controls['address'].get('city')?.errors?.['required']">City is required.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the state" formControlName="state"
    [ngClass]="{'is-invalid' : userform.controls['address'].get('state')?.invalid && (isSubmitted || userform.controls['address'].get('state')?.touched || userform.controls['address'].get('state')?.dirty),
    'is-valid' : userform.controls['address'].get('state')?.valid && (isSubmitted || userform.controls['address'].get('state')?.touched || userform.controls['address'].get('state')?.dirty)}">
    <div *ngIf="userform.controls['address'].get('state')?.invalid && (isSubmitted || userform.controls['address'].get('state')?.touched || userform.controls['address'].get('state')?.dirty)">
        <p class="text-danger" *ngIf="userform.controls['address'].get('state')?.errors?.['required']">State is required.</p>
    </div>

    <input type="text" class="form-control" placeholder="Enter the zipcode" formControlName="zipcode"
    [ngClass]="{'is-invalid' : userform.controls['address'].get('zipcode')?.invalid && (isSubmitted || userform.controls['address'].get('zipcode')?.touched || userform.controls['address'].get('zipcode')?.dirty),
    'is-valid' : userform.controls['address'].get('zipcode')?.valid && (isSubmitted || userform.controls['address'].get('zipcode')?.touched || userform.controls['address'].get('zipcode')?.dirty)}">
    <div *ngIf="userform.controls['address'].get('zipcode')?.invalid && (isSubmitted || userform.controls['address'].get('zipcode')?.touched || userform.controls['address'].get('zipcode')?.dirty)">
        <p class="text-danger" *ngIf="userform.controls['address'].get('zipcode')?.errors?.['required']">Zipcode is required.</p>
    </div>
</div>
    <button type="submit" class="btn-success" (click)="onSubmit()">Submit</button>
    <button type="Reset" class="btn-success" (click)="reset()">Reset</button>
</form>
